@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Saira+Extra+Condensed&display=swap');
      

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.5em;
  }
  
  

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out; 
   
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  
    
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  #top{
    height: 64px;
  }

  .purple{
    background-color: #562E49;
  }

  .list-group-flush .list-group-item {
    padding-left: 85px;
}
  
.list-group-item {
  padding: 1.75rem 1.25rem;
}
  

figure {
  margin-top:0px;
}
#start{
  width: 200px;
}
.card {

  background-color: #4c4c4b;
  color: white;
  margin-bottom: 50px;
 
}
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}

.jumbotron-fluid {
  height: 560px;
  display: flex;
  align-content: center;
  font-family: 'Fjalla One', sans-serif;
}
.page-footer{
  background-color: #562E49;
  color:white;
}
li.list-group-item {
  background-color: rgb(76, 76, 75);
  color: white;
}

.contact{
  background:rgba(0,0,0,0);
    border:0px;
  
}
.btn-primary {
  color: #4c4c4b;
  background-color: #a2ccc6;
  border-color: #a2ccc6;
  margin-left: 35px;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin-left: 30px;
}

#herramientas {
  margin-left: 20px;
  margin-bottom: 5px;
}


#title {
  margin-bottom: 12px;
}

.links {
  border-radius: 6px;
  border: 0px;
  margin-left: 41px;
  color: #4c4c4b;
  font-size: 15px;
}

.portfolio{
  display: flex;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 30%;
}

#contact-card {
  background: rgba(0,0,0,0);
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 80%;

 
}

#aline{
  display: flex;
  color: #4c4c4b;

}
.word {
  margin-left: -80%;
    margin-top: 11%;
    font-size: 1.4em;
}

p{
  margin-bottom: 3.6rem;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 69px;
  align-content: space-between;
}

#about-cont{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}
#aboutme{
  
  width: 390px;
}



  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
     
      
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }

    .word {
      
        margin-top: 7%;
        
    }

  }
  